$table-width: 100%;
.tableList{
	width: $table-width;
	.colmktvalhead-width {width: 13%;}
	.tradegroup {width: 17%;}
	.coltaxId-width {width: 18%;}
	.colqty-width {width: 24%;}
	.colprice-width {width: 15%;}
	.colmax-width {width: 25%;}
	.colmktval-width {width: 10%;}
}
.tableCalList{
	width: $table-width;
	.tradegroup{width: 20%;}
	.coltaxId-width{width: 15%;}
	.colqty-width{width: 20%;}
	.colprice-width{width: 13%;}
	.colmktval-width{width: 23%}

}
