<div class="row">
    <div class="col-md-12" ng-controller="homeCtrl">
        <h2>Trade Blotter UI</h2>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>
                        Group
                    </th>
                    <th>
                        Txn Id
                    </th>
                    <th>
                        Qunantity
                    </th>
                    <th>
                        Price
                    </th>
                    <th>
                        Mkt Value
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="6">
                        <h4>BAC</h4> </td>
                </tr>
                <tr ng-repeat="(key,value) in filteredData.BAC track by value.TxnId">
                    <td><em><strong>{{value.Action}}</strong></em></td>
                    <td>{{value.TxnId}}</td>
                    <td>{{value.Quantity}}</td>
                    <td>{{value.Price}}</td>
                    <td>{{value.MarketValue}}</td>
                </tr>
                <tr>
                    <td colspan="6">
                        <h4>XOM</h4> </td>
                </tr>
                <tr ng-repeat="(key,value) in filteredData.XOM track by value.TxnId">
                    <td><em><strong>{{value.Action}}</strong></em></td>
                    <td>{{value.TxnId}}</td>
                    <td>{{value.Quantity}}</td>
                    <td>{{value.Price}}</td>
                    <td>{{value.MarketValue}}</td>
                </tr>
                <tr>
                    <td colspan="6">
                        <h4>IBM</h4> </td>
                </tr>
                <tr ng-repeat="(key,value) in filteredData.IBM track by value.TxnId">
                    <td><em><strong>{{value.Action}}</strong></em></td>
                    <td>{{value.TxnId}}</td>
                    <td>{{value.Quantity}}</td>
                    <td>{{value.Price}}</td>
                    <td>{{value.MarketValue}}</td>
                </tr>
            </tbody>
        </table>
        <p>
            <button type="button" class="btn btn-primary" ui-sref="tradeState">Calculate P/L</button>
        </p>
    </div>
</div>
